# Ignore autosave and manual save JSON files
data/Saves/autosave*.json
data/Saves/manual_save*.json

# Local bin and editor files
bin/run.sh
.vscode/*.code-workspace
.vscode/.history/# General
.DS_Store

# Compiled Object Files (Prevents your PC and Laptop from fighting)
obj/
project/
export/

# Compiled Executables
MageFight
MageFight_debug
*.exe

# Logs and Local Steam Data
*.log
bin/steam_launch_log.txt
*run_logs.txt

# Local Game Settings (Keeps your PC and Laptop configs separate)
bin/data/Config/settings.json

# Autosaves (user-specific, not checked in)
bin/data/Saves/autosave*.json
bin/data/Saves/manual_save*.json

# Local VS Code Paths
.vscode/

# Code::Blocks & Visual Studio Junk
*.cbp
*.depend
*.layout
*.sln.docstates
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
ipch/
x64/
Win32/
Debug/
Release/
.vs/
*.VC.db
*.VC.opendb
*.aps
