# Visual Studio
*.sln.docstates
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
ipch/
x64/
Win32/
Debug/
Release/
**/[Oo]bj/
**/[Bb]in/
/.vs/
*.VC.db
*.VC.VC.opendb

# VS Code
.vscode/

# macOS
.DS_Store

# Linux/Makefile
obj/
bin/
MageFight # (The executable file)
MageFight_debug
