# OF Project/.gitignore
#

# General
.DS_Store

# openFrameworks build files
# libs/  <-- I REMOVED THIS so your Steam files will upload!
export/
project/
obj/

# Executable files
MageFight
MageFight_debug
MageFight.exe
MageFight_debug.exe

# Ignore the heavy system files in bin, but KEEP the data folder
/bin/*.dll
/bin/*.so
/bin/*.pdb
/bin/*.exp
/bin/*.lib

# Code::Blocks
*.cbp
*.depend
*.layout

# VS Code
.vscode/

# Visual Studio (Windows junk)
*.sln.docstates
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
ipch/
x64/
Win32/
Debug/
Release/
.vs/
*.VC.db
*.VC.opendb
*.aps
bin/data/Config/settings.json
